/* p {
    color: black;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 5s steps(44) 1s 1 normal both;
}

@keyframes typewriter {
    from {
        width: 0%;
    }
    to{
        width: 100%;
    }
} */.quando-regular {
  font-family: "Quando", serif;
  font-weight: 400;
  font-style: normal;
}
.judson-regular {
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .judson-bold {
    font-family: "Judson", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .judson-regular-italic {
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .carousellImage{
    width: 100vw;
    height: 70vh;
  }

#airscale {
height: 350px;
width: 600px;
}

#bqe {
height: 210px;
width: 450px;
}

#map {
  height: 37vh ;
  width: 40vw ;
}

.placeholder {
  width:100%;
}
.placeholder2{
  width: 50%;
}

.muralistaimage{
  width: 100%;
}