.quando-regular {
  font-family: "Quando", serif;
  font-weight: 400;
  font-style: normal;
}
.judson-regular {
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .judson-bold {
    font-family: "Judson", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .judson-regular-italic {
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .carousellImage{
    width: 100vw;
    height: 70vh;
  }

#airscale {
height: 350px;
width: 600px;
}

#bqe {
height: 210px;
width: 450px;
}

#map {
  height: 37vh ;
  width: 40vw ;
}
