#yes {
    color: #003D34;
    text-shadow: 20px #00787a;
}

.gone {
    color: #94ebd8;
}

.MTASucks {
    background-color: #94ebd8;
}

.MTATime {
    width: 600px;
}

.backdrop {
    color: #94ebd8;
    background-color: #00787a;
    border-radius: 25px;
}

.paddingBR {
    padding: 20px;
    background-color: #94ebd8;
}

