#yes {
    color: #003D34;
    text-shadow: 20px #ffffff;
}

.MTASucks {
    background-color: #083B61;
}

.MTATime {
    width: 600px;
    padding: 5%;
}

.backdrop {
    color: #083B61;
    background-color: #d4e4fe;
    border-radius: 25px;
}

.paddingBR {
    padding: 20px;
    background-color: #083B61;
}

@media screen and (width <= 1024px) {
    .MTAimageguys {
        display: none;
    }
}

.paddingJ {
    padding: 20px;
    background-color: #ffffff;
}